<div class="container">
  <h1>Take Attendace</h1>
  <div class="row">
    <div class="col-md-8" >
    
      
         <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Name</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control"  name="Name" placeholder="Enter Name" required >
                                </div>
                            </div>
                         </div>
                    </div>

                    <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Phone no</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" class="form-control" name=" phoneno" placeholder="Enter Contact Number" required >
                                </div>
                            </div>
                         </div>
                    </div>
        <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Address</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control"   name="addresss"   placeholder="Enter address" required >
                                </div>
                            </div>
                         </div>
                    </div>

                    <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Gender</label>
                            </div>
                           </div>
                           <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                   <select name="gender" >
                                        <option value="1">male</option>
                                          <option value="2">female</option>
                                        </select>

                                </div>
                            </div>
                         </div>
              </div>


                     <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Email</label>
                            </div>
                           </div>
                           <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control"   name="email"  placeholder="Enter Email Address" required >
                                </div>
                            </div>
                         </div>
              </div>
       <div class="form-group">
          <button class="btn btn-block btn-lg bg-pink waves-effect" type="Submit">Add Payment</button>
        </div> 
    </div>
  </div>
</div>
