<div class="container">
  <h1>Add Accountant</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveAccountant()" #accountantForm="ngForm">
        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2"> Name</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control" [(ngModel)]="accountant.user.full_name" name="text"  placeholder="Enter  Name" required>
                       </div>
                  </div>
             </div>
        </div>
    
        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Address</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control" [(ngModel)]="accountant.user.addresss" name="address" placeholder="Enter Permanent Address"required/>
                       </div>
                  </div>
             </div>
           </div>

            <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Phone</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="number" class="form-control" [(ngModel)]="accountant.user.phoneno" name="text"  placeholder="" required>
                       </div>
                  </div>
             </div>
        </div>

       <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Email Address</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control" [(ngModel)]="accountant.user.email" name="text"  placeholder="Enter a valid email address" required>
                       </div>
                  </div>
             </div>
        </div>
        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Gender</label>
             </div>
           </div>
         <div class="col-md-6">
                  <div class="form-group">
                     <div class="form-line">
                         <select ng-model= "accountant.user.gender">
                          <option >Male</option>
                         <option>Female</option>
                         </select>
                       </div>
                  </div>
             </div>
        </div>

          <div class="input-group">
            <button type="Submit" class="btn btn-success" [disabled]="!accountantForm.form.valid">Save</button>
          </div>
        </form>
      
