
  <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <b>Add Accountant</b>
                            </h2>
                        </div>
                         </div> 
          <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Name.</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                                <div class="form-line">
                                <select class="form-control">

                                    <option>--Select--</option>
                                    <option>--</option>
                                    <option>--</option>
                                    <option>--</option>
                                </select>
                            </div>
                        </div>
                    </div>    
          </div> 
          <div class="body">
                 <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Email</label>
                </div>

                <div class=" col-md-10">
                    
                                <div class="form-group">
                                <div class="form-line">
                                 <input type="text" class="form-control" placeholder="Enter Email Address"/>
                                   
                        </div>
                    </div>    
          </div>   
                   <div class="body">
                 <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Password</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    
                                <div class="form-group">
                                <div class="form-line">
                                 <input type="password" class="form-control" placeholder="Enter Passwo"/>
                                   
                        </div>
                    </div>    
         
         
          <button class="btn btn-block btn-lg bg-pink waves-effect" type="Submit">Submit</button>
      </div>
  </div>
</div>

