<!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="assets/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BTech</div>
                    <div class="email">ab@belwasetech.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                              <ul class="list" style="height: 900px;">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a routerLink="/">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/attendance/take-attendace" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Attendance</span>
                        </a>
                         <ul class="ml-menu">
    
                            <li>
                                <a routerLink="/attendance/take-attendance">
                                    <span>Take Attendance</span>
                                </a> 
                            </li>    

                                   
                        </ul>
                    </li>

                     <li>
                        <a routerLink="/accounting" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Accounting</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/accounting/payment">
                                    <span>Payment</span>
                                </a> 
                            </li>
                            <li>
                                <a routerLink="/accounting/expense">
                                    <span>Expense</span>
                                </a> 
                            </li>
                        </ul>
                    </li>    

                     <li>
                        <a routerLink="/library" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Library</span>
                        </a>
                              <ul class="ml-menu">

                                <li>
                                <a routerLink="/library/book-dashboard/add-category">
                                    <span>Add Category</span>
                                </a> 
                            </li>
                                
                                <li>
                                <a routerLink="/library/book-dashboard/manage-book">
                                    <span>Add books</span>
                                </a> 
                            </li>
                           

                              <li>
                                <a routerLink="/library/book-dashboard/manage-member">
                                    <span>Add Member</span>
                                </a> 
                            </li>

                             
                             <li>
                                <a routerLink="/library/book-dashboard/book-issue">
                                    <span>Book Issue</span>
                                </a> 
                            </li>
                             

                            <li>
                                <a routerLink="/library/book-dashboard/request">
                                    <span>Request Details</span>
                                </a> 
                            </li>

                            <li>
                                <a routerLink="/library/book-dashboard/return">
                                    <span>Book Return</span>
                                </a> 
                            </li>
                           
                             <li>
                                <a routerLink="/library/book-dashboard/report">
                                    <span>Report</span>
                                </a> 
                            </li>
                             <li>
                                <a routerLink="/library/book-dashboard">
                                    <span>Dashboard</span>
                                </a> 
                            </li>  
                           
                           
                            <li>
                                <a routerLink="/library/book-dashboard/search">
                                    <span>Search</span>
                                </a> 
                            </li>

                        </ul>
                    </li>                    
           
            <!-- #Menu -->
            <!-- Footer -->
           

            <!-- #Footer -->
       

     