<!-- #Top Bar -->
  
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="assets/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BTech</div>
                    <div class="email">ab@belwasetech.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list" style="height: 900px;">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a routerLink="/">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li>
                        <a routerLink="/student/add" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Student</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/student/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                             <li>
                                <a routerLink="/student/list">
                                    <span>List</span>
                                </a> 
                            </li>
                           
                            
                        </ul>
                    </li>

                    <li>
                       <a routerLink="/teacher/add" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Teacher</span>
                        </a>
                       <ul class="ml-menu">
                         <li>
                                <a routerLink="/teacher/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                             <li>
                                <a routerLink="/teacher/list">
                                    <span>List</span>
                                </a> 
                            </li>
                        </ul>
                            </li>


                        <li>
                        <a routerLink="/parent/add" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Parent</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/parent/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                             <li>
                                <a routerLink="/parent/list">
                                    <span>List</span>
                                </a> 
                            </li>                                                     
                        </ul>
                    </li>
                    

                        <li>
                        <a routerLink="/accountant/add" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Accountant</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/accountant/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                             <li>
                                <a routerLink="/accountant/list">
                                    <span>List</span>
                                </a> 
                            </li>                          
                        </ul>
                    </li>

                      <li>
                       <a routerLink="/class/add" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Class</span>
                        </a>
                       <ul class="ml-menu">
                         <li>
                                <a routerLink="/class/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                             <li>
                                <a routerLink="/class/list">
                                    <span>List</span>
                                </a> 
                            </li>
                         </ul>
                     </li>

                              <li>
                       <a routerLink="/attendance/add" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Attendance</span>
                        </a>
                       <ul class="ml-menu">
                         <li>
                                <a routerLink="/attendance/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                             <li>
                                <a routerLink="/attendance/list">
                                    <span>List</span>
                                </a> 
                            </li>
                        </ul>
                            </li>


                              <li>
                       <a routerLink="/grade/add" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Grade</span>
                        </a>
                       <ul class="ml-menu">
                         <li>
                                <a routerLink="/grade/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                             <li>
                                <a routerLink="/grade/list">
                                    <span>List</span>
                                </a> 
                            </li>
                        </ul>
                            </li>


                        <li>
                        <a routerLink="/payment/add" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Payment</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/payment/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                             <li>
                                <a routerLink="/payment/list">
                                    <span>List</span>
                                </a> 
                            </li>
                        </ul>
                    </li>
                    

               
            <!-- #Menu -->
            <!-- Footer -->
            
            <!-- #Footer -->
      

      