
  <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <b>Class</b>
                            </h2>
                        </div>
                        <div class="body">
                         
                            <h2 class="card-inside-title">Add New Class</h2>
                          </div>
                         <div class="body">
                 <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Name</label>
                </div>

                <div class=" col-md-10">
                    
                                <div class="form-group">
                                <div class="form-line">
                                 <input type="text" class="form-control" placeholder="Full"/>
                                   
                        </div>
                    </div>    
          </div>  

          <div class="body">
                 <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Address</label>
                </div>

                <div class=" col-md-10">
                    
                                <div class="form-group">
                                <div class="form-line">
                                 <input type="text" class="form-control" placeholder="Enter Home Address"/>
                                   
                        </div>
                    </div>    
          </div>   
                   <div class="body">
                 <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">DOB</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    
                                <div class="form-group">
                                <div class="form-line">
                                 <input type="text" class="form-control" placeholder="Enter Date Of Birth"/>
                                   
                        </div>
                    </div>    
          </div> 
          <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Gender</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                                <div class="form-line">
                                <select class="form-control">

                                    <option>--Select--</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                    </div>    
          </div>   
           <div class="body">
                 <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Father's Name</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                                <div class="form-line">
                                
                                 <input type="text" class="form-control" placeholder="Enter Father's Name"/>
                                   
                        </div>
                    </div>    
          </div>     
           <div class="body">
                 <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Mother's Name</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                                <div class="form-line">
                                
                                 <input type="text" class="form-control" placeholder="Enter Father's Name"/>
                                   
                        </div>
                    </div>    
          </div>     
        <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Class</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                                <div class="form-line">
                                <select class="form-control">

                                    <option>--Select--</option>
                                    <option>--</option>
                                    <option>--</option>
                                    <option>--</option>
                                </select>
                            </div>
                        </div>
                    </div>    
          </div>  
           <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Section</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                                <div class="form-line">
                                <select class="form-control">

                                    <option>--Select Section--</option>
                                    <option>--</option>
                                    <option>--</option>
                                    <option>--</option>
                                </select>
                            </div>
                        </div>
                    </div>    
          </div>    
                  <div class="body">
                 <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Phone</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                                <div class="form-line">
                                
                                 <input type="password" class="form-control" placeholder="Enter Contact Number"/>
                                   
                        </div>
                    </div>    
          </div>   
          <div class="body">
                 <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="Title">Email</label>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                                <div class="form-line">
                                
                                 <input type="number" class="form-control" placeholder="Enter Email Address"/>
                                   
                        </div>
                    </div>    
          </div>   
         
         
          <button class="btn btn-block btn-lg bg-pink waves-effect" type="Submit">Add class</button>
      </div>
  </div>
</div>

